<template>
    <div class="row overflow-scroll">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-12">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-12 col-md-12 col-sm-12 text-center">
                    <label><h2>Book Jobcodes</h2></label>
                </div>
            </div>
            <div class="row mb-3" v-for="(job, index) in jobcode">
                <div class="col-lg-5 col-xl-5 col-12 col-md-5 col-sm-12 text-left">
                    <label>Company&nbsp;ID</label>
                    <input type="text" placeholder="Enter Company ID" class="form-control" v-model="job.companyId"
                        @input="$v.jobcode.$each[index].companyId.$touch()"
                        v-bind:class="{required:$v.jobcode.$each[index].companyId.$required, error: $v.jobcode.$each[index].companyId.$error, valid: $v.jobcode.$each[index].companyId.$dirty && !$v.jobcode.$each[index].companyId.$invalid}"/>
                </div>
                <!--<div class="col-lg-3 col-xl-3 col-12 col-md-3 col-sm-12 text-left">
                    <label>Amount</label>
                    <input type="text" placeholder="Enter Amount" class="form-control" v-model="job.amt"
                        @input="$v.jobcode.$each[index].amt.$touch()"
                        v-bind:class="{required:$v.jobcode.$each[index].amt.$required, error: $v.jobcode.$each[index].amt.$error, valid: $v.jobcode.$each[index].amt.$dirty && !$v.jobcode.$each[index].amt.$invalid}"/>
                        <span v-if="!$v.jobcode.$each[index].amt.minValue">
                            Minimum value for Amount should be greater then 0.
                        </span>
                </div>-->
                <div class="col-lg-3 col-xl-3 col-12 col-md-3 col-sm-12 text-left">
                    <label>Jobcode&nbsp;Runtime</label>
                    <input type="text" placeholder="Enter Jobcode Runtime" class="form-control" v-model="job.runTime"
                        @input="$v.jobcode.$each[index].runTime.$touch()"
                        v-bind:class="{required:$v.jobcode.$each[index].runTime.$required, error: $v.jobcode.$each[index].runTime.$error, valid: $v.jobcode.$each[index].runTime.$dirty && !$v.jobcode.$each[index].runTime.$invalid}"/>
                        <span v-if="!$v.jobcode.$each[index].runTime.minValue">
                            Minimum value for Runtime must be at least 1 or more.
                        </span>
                </div>
                <div class="col-lg-1 col-xl-1 col-12 col-md-1 col-sm-12 text-center pt-4">
                    <button type="button" class="close" aria-label="Close" @click="removeSection(index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-xl-4 col-12 col-md-4 col-sm-6 text-left">
                    <button class="btn btn-transparent" @click="jobcode.push({companyId: null, runTime: null})">
                        <icon name="plus-circle" scale="2" class="text-left text-left--margin"></icon> Add New Booking
                    </button>
                </div>
                <div class="col-lg-4 col-xl-4 col-12 col-md-4 col-sm-6 text-right">
                    <button class="btn btn-primary btn-primary--jobcode"
                        v-on:click="addJobCodes">
                        Book Job Codes
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import { SHARED_USER_DATA_MIXIN } from '../../../mixins/shared-user-data.mixin'
    import { required, minValue, numeric } from 'vuelidate/lib/validators'
    export default{
        name:'book-job-code',
        mixins: [SHARED_USER_DATA_MIXIN],
        components:{
            'icon':() => import('vue-awesome/components/Icon'),
        },
        methods:{
            removeSection: function(section) {
                this.jobcode.splice(section, 1)
            },
            showBookingModal: function(){
                this.$store.dispatch('adminPanelModule/showModalBooking', true);
            },
            addJobCodes: function(){
                let comapnyId= this.jobcode[0].companyId;
                let jobcodeJson = [];
                this.jobcode.forEach(item => {
                    if(item.runTime !== null && item.runTime !== undefined)
                    jobcodeJson.push({runTime: item.runTime});

                })
                let json= {"companyId": comapnyId , jobcode: jobcodeJson}
                this.$store.dispatch("adminPanelModule/addJobCodes",json)
                .then(() => {
                  this.$store.dispatch("adminPanelModule/getBookingList")
                })
                .then(() => {
                    this.showBookingModal(false);
                })
                .catch(e => {
                    console.log(e);
                })
            }
        },
        computed: {
            ...mapGetters('adminPanelModule', ['BookingList']),
            ...mapActions('adminPanelModule', ['getBookingList'])
        },
        validations: {
            jobcode: {
                required,
                $each: {
                    companyId: {
                        required,
                    },
                    runTime: {
                        required,
                        minValue: minValue(1),
                        numeric
                    }
                }
            }
        },
    }
</script>
<style scoped>
    @import 'book-job-code.component.css';
</style>
