<template>
    <div class="row p-4">
        <div class="col-lg-10 offset-lg-1 offset-md-0 col-md-12 offset-0 col-12">
            <div class="card form-group">
                <div class="card-body">
                    <div class="card-title border-bottom-green"><h4>Adminstration</h4></div>
                    <p class="card-text">
                        Booking Table + Administration of the company profiles + Release of Jobcodes
                    </p>
                    <div class="row mt-3">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 text-right">
                            <div class="row">
                                <div class="col-lg-2">
                                  <button class="form-control btn btn-primary btn-primary--jobcode"  @click="">Company List</button>
                                </div>
                                <div class="col-lg-2">
                                  <button class="form-control btn btn-primary btn-primary--jobcode"  @click="openModal(true)">Book Job Code</button>
                                </div>
                                <div class="col-lg-4 offset-lg-4">
                                    <div class="form-group">
                                        <div class="icon-addon addon-lg">
                                            <input class="form-control" placeholder="Company Name or Booking ID"/>
                                            <label class="fa fa--search" rel="tooltip"><icon name='search' scale='2'></icon></label>
                                        </div>
                                    </div>
                                </div>
                                <modal v-if="this.showModalBooking" @close="openModal(false)" class="form-control w-100">
                                    <div slot="header">
                                        <img class="" src="../../assets/images/logo-green.png">
                                    </div>
                                    <div slot="body">
                                        <book-job-code></book-job-code>
                                    </div>
                                </modal>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 text-right">
                            <div class="table-responsive">
                              <table class="table table-hover">
                                <thead class="text-center">
                                  <th>
                                    Company&nbsp;ID
                                  </th>
                                  <th>
                                    Company&nbsp;Name
                                  </th>
                                  <th>
                                    Booking&nbsp;ID
                                  </th>
                                  <th>
                                    Date
                                  </th>
                                  <th>
                                    Runtime
                                  </th>
                                  <th>
                                    InActive
                                  </th>
                                  <th>
                                    Active
                                  </th>
                                  <th>
                                    Expired
                                  </th>
                                </thead>
                                <tbody>
                                <tr v-for="booking in bookingList">
                                  <td>
                                    {{booking.companyId}}
                                  </td>
                                  <td>
                                    {{booking.companyName}}
                                  </td>
                                  <td>
                                    {{booking.bookingId}}
                                  </td>
                                  <td>
                                    {{booking.bookingDate.$date}}
                                  </td>
                                  <td>
                                    {{booking.runTime}}
                                  </td>
                                  <td>
                                    {{booking.isActive}}
                                  </td>
                                  <td>
                                    {{booking.isActive}}
                                  </td>
                                  <td>
                                    {{booking.expired}}
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { SHARED_USER_DATA_MIXIN } from '../../mixins/shared-user-data.mixin'
import { mapGetters, mapActions } from 'vuex'
    export default{
        name:'admin-panel',
        mixins: [SHARED_USER_DATA_MIXIN],
        components:{
            'icon':() => import('vue-awesome/components/Icon'),
            'modal': () => import('../shared/pop-up/pop-up.component'),
            'book-job-code':() => import('./book-job-code/book-job-code.component.vue'),
        },
        methods:{
            openModal: function(payload){
                this.$store.dispatch('adminPanelModule/showModalBooking', payload)
            }
        },
        computed:{
            ...mapGetters('adminPanelModule', ['bookingList', 'showModalBooking']),
            ...mapActions('adminPanelModule', ['getBookingList']),
        },
        created: function () {
            this.$store.dispatch("adminPanelModule/getBookingList")
            .then(() => {
                this.openModal(false);
            })
            .catch(e => {
                console.log(e);
            })
        },
    }
</script>
<style scoped>
    @import './admin-panel.component.css';
</style>