.card{
    width:100%;
    background-color: white !important;
    text-align: left
}
.icon-addon.addon-lg .form-control {
line-height: 1.33;
font-size: 18px;
}
.overflow-scroll{
max-height: 500px !important;
min-height: 500px !important;
overflow-y: scroll;
}
.icon-addon .fa {
position: absolute;
z-index: 2;
right: 10px;
font-size: 14px;
width: 20px;
margin-left: -2.5px;
text-align: center;
padding: 10px 0;
top: 1px
}
.fa--search {
  margin-top: -5px;
}
.center-block {
float: none;
margin-left: auto;
margin-right: auto;
}

.input-group .icon-addon .form-control {
border-radius: 0;
}

.icon-addon {
position: relative;
color: #555;
display: block;
}

.icon-addon:after,
.icon-addon:before {
display: table;
content: " ";
}

.icon-addon:after {
clear: both;
}
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
color: #2580db;
}
.modal-container{
width:60%;
}