<template>
  <!-- video modal -->

  <div class="main-wrapper">
    <div>
      <div class="modal fade video-modal" data-easein="slideRightBigIn" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" data-backdrop="staticsss">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body pd0">
        <div class="modal-video-box">
          <video id="videoUrl" controls> 
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="container-common">
      <div class="main-section clearfix">
        <side-bar></side-bar>
        <!-- <aside>
          <div class="sidebar-conent">
            <div class="sidebar-profile-box">
              <a href="profile.html" class="img-box">
                <img src="images/profile.png"/>
              </a>
              <span class="profile-name">
                <h3>Florian Lang</h3>
                <a href="javascript:void(0);" class="btn btn-admin">Admin</a>
              </span>
            </div>
            <ul class="sidebar-list">
              <li><a href="javascript:void(0);"><i class="fa fa-file-text"></i>Job Management</a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Products</a></li>
            </ul>
          </div>
        </aside> -->
        <div class="main-content-block">
          <div class="faq-page">
            <div class="top-header-block mb10">
              <h3>Candidate management - Frontend Developer Remoter (m/f)</h3>
            </div>
            <div class="common-panel">
              <div class="panel-header  clearfix">
                <h4>5 Candidates applied</h4>
              </div>
              <div class="panel-body">
                <h5 class="mb10">Get a picture of all candidates, create notes for your team and rate all candidates</h5>

                <!-- Candidate - desc - box -->
                <div class="candidate-desc-main-box" v-for="item in itemDet">
                  <div class="candidate-descreption-box mt10">
                    <div class="candidate-profile-box">
                     <!--  <div class="profile-video-bo" v-on:mouseover=" changeVideo()">
                        <video>
                          <source src="../../assets/videos/web_background.mp4"  type="video/mp4">
                        </video>
                      </div> 
                      https://lh3.googleusercontent.com/-bIXg4PV-Je4/AAAAAAAAAAI/AAAAAAAAABs/MeRk91-Dky4/s96-c/photo.jpg -->
                      <div class="profile-video-box" v-on:mouseover="mouseO(item.id)" @mouseleave="mouseL(item.id)" data-videourl="./assets/videos/web_background.mp4" @click="showModal()">
                      <video v-bind:id="item.id" poster="https://lh3.googleusercontent.com/-bIXg4PV-Je4/AAAAAAAAAAI/AAAAAAAAABs/MeRk91-Dky4/s96-c/photo.jpg">
                        <source src="../../assets/videos/web_background.mp4" type="video/mp4">
                      </video>
                    </div>
                    </div>
                    <div class="candidate-detail-box">
                      <div class="candidate-deatil-top">
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-6">
                            <div class="candidate-name mb20">
                              <h4>Jörg Kamps</h4>
                              <p><i>Student</i></p>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-8 col-lg-6">
                            <div class="clearfix">
                              <div class="star-box fleft">
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star unrated"></i>
                              </div>
                              <div class="button-box fright">
                                <button type="button" class="btn btn-notes" v-on:click="showBox(item.id)">Notes <i v-bind:class="{ 'fa fa-angle-down': isBox!= item.id, 'fa fa-angle-up': isBox==item.id  }"></i></button>
                                <!--class="fa fa-angle-down icon-updown" -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="candidates-detail-bottom">
                        <div class="row">
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-graduation-cap"></i>
                                <h4> Maschienenbau</h4>
                              </li>
                              <li>
                                <i class="fa  fa-university"></i>
                                <h4> Universität zu Köln</h4>
                              </li>
                              <li>
                                <i class="fa fa-id-card"></i>
                                <h4> fa-id-card</h4>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-home"></i>
                                <h4>Zechenstraße 11, 51103 Köln</h4>
                              </li>
                              <li>
                                <i class="fa  fa-envelope"></i>
                                <h4>j.kamps@gmail.com</h4>
                              </li>
                              <li>
                                <i class="fa fa-phone"></i>
                                <h4>0160 - 1234 342 11</h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="candidate-review-main" id="reviewBox1" v-if="isBox==item.id" style="display: block;"> 
                    <div class="common-panel">
                      <div class="panel-header clearfix">
                        <h4>Notes</h4>
                      </div>
                      <div class="panel-body">
                        <div class="candidate-review-inner">
                          <div class="candidate-review-profile">
                            <img src="../../assets/images/profile.png">
                          </div>
                          <div class="review-right-sec">
                            <div class="textarea-box mb10">
                              <textarea class="common-textarea">Write a note</textarea>
                            </div>
                            <div class="clearfix mb30">
                              <div class="fleft rating-text-s">
                                <span class="clearfix">
                                  <h5>Rating</h5>
                                </span>
                                <span  class="clearfix">
                                  <div class="star-box">
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star unrated"></i>
                                  </div>
                                </span>
                              </div>
                              <div class="button-box fright">
                                <button class="btn btn-notes">Sent</button>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="candidate-desc-main-box">
                  <div class="candidate-descreption-box mt10">
                    <div class="candidate-profile-box">
                      <div class="profile-video-box" data-videourl="video/web_background.mp4">
                        <video poster="../../assets/images/candidate_image.jpg">
                          <source src="video/web_background.mp4" type="video/mp4">
                        </video>
                      </div>
                    </div>
                    <div class="candidate-detail-box">
                      <div class="candidate-deatil-top">
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-6">
                            <div class="candidate-name mb20">
                              <h4>Jörg Kamps</h4>
                              <p><i>Student</i></p>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-8 col-lg-6">
                            <div class="clearfix">
                              <div class="star-box fleft">
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star unrated"></i>
                              </div>
                              <div class="button-box fright">
                                <button type="button" class="btn btn-notes" data-showreview="#reviewBox2">Notes <i class="fa fa-angle-down icon-updown"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="candidates-detail-bottom">
                        <div class="row">
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-graduation-cap"></i>
                                <h4> Maschienenbau</h4>
                              </li>
                              <li>
                                <i class="fa  fa-university"></i>
                                <h4> Universität zu Köln</h4>
                              </li>
                              <li>
                                <i class="fa fa-id-card"></i>
                                <h4> fa-id-card</h4>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-home"></i>
                                <h4>Zechenstraße 11, 51103 Köln</h4>
                              </li>
                              <li>
                                <i class="fa  fa-envelope"></i>
                                <h4>j.kamps@gmail.com</h4>
                              </li>
                              <li>
                                <i class="fa fa-phone"></i>
                                <h4>0160 - 1234 342 11</h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="candidate-review-main" id="reviewBox2">
                    <div class="common-panel">
                      <div class="panel-header clearfix">
                        <h4>Notes</h4>
                      </div>
                      <div class="panel-body">
                        <div class="candidate-review-inner">
                          <div class="candidate-review-profile">
                            <img src="../../assets/images/profile.png">
                          </div>
                          <div class="review-right-sec">
                            <div class="textarea-box mb10">
                              <textarea class="common-textarea">Write a note</textarea>
                            </div>
                            <div class="clearfix mb30">
                              <div class="fleft rating-text-s">
                                <span class="clearfix">
                                  <h5>Rating</h5>
                                </span>
                                <span  class="clearfix">
                                  <div class="star-box">
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star unrated"></i>
                                  </div>
                                </span>
                              </div>
                              <div class="button-box fright">
                                <button class="btn btn-notes">Sent</button>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

               <!--  <div class="candidate-desc-main-box">
                  <div class="candidate-descreption-box mt10">
                    <div class="candidate-profile-box">
                      <div class="profile-video-box" data-videourl="video/web_background.mp4">
                        <video poster="../../assets/images/candidate_image.jpg">
                          <source src="video/web_background.mp4" type="video/mp4">
                        </video>
                      </div>
                    </div>
                    <div class="candidate-detail-box">
                      <div class="candidate-deatil-top">
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-6">
                            <div class="candidate-name mb20">
                              <h4>Jörg Kamps</h4>
                              <p><i>Student</i></p>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-8 col-lg-6">
                            <div class="clearfix">
                              <div class="star-box fleft">
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star unrated"></i>
                              </div>
                              <div class="button-box fright">
                                <button type="button" class="btn btn-notes" data-showreview="#reviewBox3">Notes <i class="fa fa-angle-down icon-updown"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="candidates-detail-bottom">
                        <div class="row">
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-graduation-cap"></i>
                                <h4> Maschienenbau</h4>
                              </li>
                              <li>
                                <i class="fa  fa-university"></i>
                                <h4> Universität zu Köln</h4>
                              </li>
                              <li>
                                <i class="fa fa-id-card"></i>
                                <h4> fa-id-card</h4>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-home"></i>
                                <h4>Zechenstraße 11, 51103 Köln</h4>
                              </li>
                              <li>
                                <i class="fa  fa-envelope"></i>
                                <h4>j.kamps@gmail.com</h4>
                              </li>
                              <li>
                                <i class="fa fa-phone"></i>
                                <h4>0160 - 1234 342 11</h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="candidate-review-main" id="reviewBox3">
                    <div class="common-panel">
                      <div class="panel-header clearfix">
                        <h4>Notes</h4>
                      </div>
                      <div class="panel-body">
                        <div class="candidate-review-inner">
                          <div class="candidate-review-profile">
                            <img src="../../assets/images/profile.png">
                          </div>
                          <div class="review-right-sec">
                            <div class="textarea-box mb10">
                              <textarea class="common-textarea">Write a note</textarea>
                            </div>
                            <div class="clearfix mb30">
                              <div class="fleft rating-text-s">
                                <span class="clearfix">
                                  <h5>Rating</h5>
                                </span>
                                <span  class="clearfix">
                                  <div class="star-box">
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star unrated"></i>
                                  </div>
                                </span>
                              </div>
                              <div class="button-box fright">
                                <button class="btn btn-notes">Sent</button>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <!--<div class="candidate-desc-main-box">
                  <div class="candidate-descreption-box mt10">
                    <div class="candidate-profile-box">
                      <div class="profile-video-box" data-videourl="video/web_background.mp4">
                        <video poster="../../assets/images/candidate_image.jpg">
                          <source src="video/web_background.mp4" type="video/mp4">
                        </video>
                      </div>
                    </div>
                    <div class="candidate-detail-box">
                      <div class="candidate-deatil-top">
                        <div class="row">
                          <div class="col-sm-12 col-md-4 col-lg-6">
                            <div class="candidate-name mb20">
                              <h4>Jörg Kamps</h4>
                              <p><i>Student</i></p>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-8 col-lg-6">
                            <div class="clearfix">
                              <div class="star-box fleft">
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star unrated"></i>
                              </div>
                              <div class="button-box fright">
                                <button type="button" class="btn btn-notes" data-showreview="#reviewBox4">Notes <i class="fa fa-angle-down icon-updown"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="candidates-detail-bottom">
                        <div class="row">
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-graduation-cap"></i>
                                <h4> Maschienenbau</h4>
                              </li>
                              <li>
                                <i class="fa  fa-university"></i>
                                <h4> Universität zu Köln</h4>
                              </li>
                              <li>
                                <i class="fa fa-id-card"></i>
                                <h4> fa-id-card</h4>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-6 col-xs-6">
                            <ul class="candidate-detail-list">
                              <li>
                                <i class="fa fa-home"></i>
                                <h4>Zechenstraße 11, 51103 Köln</h4>
                              </li>
                              <li>
                                <i class="fa  fa-envelope"></i>
                                <h4>j.kamps@gmail.com</h4>
                              </li>
                              <li>
                                <i class="fa fa-phone"></i>
                                <h4>0160 - 1234 342 11</h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="candidate-review-main" id="reviewBox4">
                    <div class="common-panel">
                      <div class="panel-header clearfix">
                        <h4>Notes</h4>
                      </div>
                      <div class="panel-body">
                        <div class="candidate-review-inner">
                          <div class="candidate-review-profile">
                            <img src="../../assets/images/profile.png">
                          </div>
                          <div class="review-right-sec">
                            <div class="textarea-box mb10">
                              <textarea class="common-textarea">Write a note</textarea>
                            </div>
                            <div class="clearfix mb30">
                              <div class="fleft rating-text-s">
                                <span class="clearfix">
                                  <h5>Rating</h5>
                                </span>
                                <span  class="clearfix">
                                  <div class="star-box">
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star rated"></i>
                                     <i class="fa fa-star unrated"></i>
                                  </div>
                                </span>
                              </div>
                              <div class="button-box fright">
                                <button class="btn btn-notes">Sent</button>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                            <div class="rating-comment-sec mb25">
                              <div class="rating-comment-profile">
                                <img src="../../assets/images/review-profile.png">
                              </div>
                              <div class="rating-comment-right">
                                <div class="clearfix mb5">
                                  <h4 class="fleft">Markus Müller wrote:</h4>
                                  <div class="star-box fright">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star unrated"></i>
                                  </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratOffic te odi offic tem voluptaspel ipiendundis nonestesse coriate ped ut laborio et alit es ducimi, archillis et as eturita prem fugita vid quid ut que as sumquo consedi rectotam, quiatibus autatur rerchi</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>
<script>
    // import { required, email, sameAs, minLength, maxLength } from 'vuelidate/lib/validators'
    // import { SHARED_USER_DATA_MIXIN } from '../../mixins/shared-user-data.mixin'
  export default {
    name: 'candidateManagement',
      // mixins: [SHARED_USER_DATA_MIXIN],
       beforeMount(){
        console.log('dasdadada')
        // var d =document.getElementById('1')
        // d.style.display = none
        //  var playbox = $(".profile-video-box").hover(function(e) {  
        //   console.log('hover')
        //   $('video', this).get(0).play();
        //   $('video', this).attr("controls", "controls");
        // }, function (e) {
        //   console.log('hover pause')
        //   $('video', this).get(0).pause();
        //   $('video', this).removeAttr("controls", "controls");
        // } );
      },
    data(){
      return {
        isBox: '',
        itemDet: [{id:1}, {id:2}],
        vidSrc: ''
        // itemDet: [{id:1}]
      }
    },
    components: {
      'side-bar': () => import('../shared/candidateSideBar/candidateSideBar.component.vue'),
    },
    methods: {
      showBox(id) {
        console.log('id==>>>'+ id)
        if(id == this.isBox){
          this.isBox = ''
        }else{
          this.isBox = id;  
        }
        
      },
      mouseO(id){
        console.log('hover==>>'+ id)
        var videoD = document.getElementById(id)
        // console.log(videoD)
        videoD.play()
        videoD.controls = "controls";
          // videoD.attr('')
          // $('video', this).attr("controls", "controls");
        // console.log('pointed')
        // var playbox = $(".profile-video-box").hover(function(e) {  
        //   console.log('hover')
        //   $('video', this).get(0).play();
        //   $('video', this).attr("controls", "controls");
        // }, function (e) {
        //   console.log('hover pause')
        //   $('video', this).get(0).pause();
        //   $('video', this).removeAttr("controls", "controls");
        // } );
      },
      mouseL(id){
        // var self = $(".video")
        // console.log('hover remove')
        var videoD = document.getElementById(id)
        videoD.pause()
        videoD.controls = "";
      },

      showModal(){
        // alert('d')
        
        // var videoUrl = $(this).data('videourl');
        // console.log(videoUrl);

        var modVid = document.getElementById('videoUrl')
        modVid.src="http://techslides.com/demos/sample-videos/small.mp4"
        // modVid.src="../assets/videos/web_background.mp4"

        // document.getElementById('mp4_src').src = "../../assets/videos/web_background.mp4"
         // modVid.setAttribute('src', '../../assets/videos/web_background.mp4');
         // modVid.src = "../../assets/videos/web_background.mp4"
        // this.vidSrc = "../../assets/videos/web_background.mp4"
        // var playPromise = document.querySelector('video').play();

        // In browsers that don’t yet support this functionality,
        // playPromise won’t be defined.
        // if (playPromise !== undefined) {
        //   playPromise.then(function() {
        //     // Automatic playback started!
        //     console.log('start')

        //   }).catch(function(error) {
        //     console.log('end')
        //     // Automatic playback failed.
        //     // Show a UI element to let the user manually start playback.
        //   });
        // }
        console.log(modVid)
        modVid.play();
        $('.video-modal').modal('show');
 

      }

    }
  }

</script>
<style scoped>
  /*.profile-video-box video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.profile-video-box {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}*/
/*.profile-video-box{
  background-image: url('https://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg') !important;
  
}*/

</style>