<template>
  <div id="app">
    <app-header v-if='(this.isAuthenticated && !this.isLoggedIn) || (this.isFooterLinks)'></app-header>
    <top-bar v-if='!this.isAuthenticated && !this.isLoggedIn && !this.isFooterLinks'></top-bar>
    <div class="container-fluid page-content">
      <router-view></router-view>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import { SHARED_USER_DATA_MIXIN } from '../mixins/shared-user-data.mixin'
  import { mapGetters , mapActions} from 'vuex'
  export default {
    name: 'app',
    mixins: [SHARED_USER_DATA_MIXIN],
    components: {
      'app-footer': () => import('./shared/footer-bar/footer-bar.component.vue'),
      'top-bar': () => import('./shared/top-bar/top-bar.component.vue'),
      'app-header': () => import('./shared/after-login-top-bar/after-login-top-bar.component'),
    },
    watch:{
      '$route' (to, from){
          if(this.isAuthenticated === false){
            this.$store.dispatch("appModule/checkLoginPages", to.name)
            .then(response => {
                if(response){
                  this.$router.push(to.name);
                }
                else{
                  this.$router.push('not-found');
                }
            }).catch(e => {
                alert(e)
            })
          } else{
            this.$store.dispatch("appModule/checkUrl",to,from)
            .then(response => {
                if(!response){
                  this.$router.push(from.name);
                }
            }).catch(e => {
                alert(e)
            })
          }
      },
    },
    computed : {
        ...mapGetters('loginModule',['isAuthenticated']),
        ...mapGetters('appModule',['isLoggedIn', 'isFooterLinks']),
        ...mapActions('appModule', ['checkUrl', 'checkLoginPages'])
    },
    created: function () {
      if(this.isAuthenticated === false){
         this.$store.dispatch("appModule/checkLoginPages",this.$route.name)
            .then(response => {
                if(response){
                }
                else{
                  this.$router.push('candidate');
                }
            }).catch(e => {
                alert(e)
            })
      }
      else{
            this.$store.dispatch("appModule/checkUrl",to,from)
            .then(response => {
                if(!response){

                }
            }).catch(e => {
                alert(e)
            })
          }
    }
  }
</script>
<style>
  /* Global styles */
* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
/*  margin-bottom: 20px;*/
}
.page-content {
  min-height: calc(100vh - 80px);
}
#app {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
