<template>
	
		<div class="main-wrapper ">
			<div class="container-common">
				<div class="main-section clearfix">
					<aside id="sidebarShow">
						<div class="sidebar-conent">
							<div class="sidebar-profile-box">
								<a href="profile.html" class="img-box">
									<img src="../../assets/images/profile.png"/>
								</a>
								<span class="profile-name">
									<h3>Florian Lang</h3>
									<a href="javascript:void(0);" class="btn btn-admin">Admin</a>
								</span>
							</div>
							<ul class="sidebar-list">
								<li><a href="javascript:void(0);"><i class="fa fa-file-text"></i>Job Management</a></li>
								<li><a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Products</a></li>
							</ul>
						</div>
					</aside>
					<div class="main-content-block">
						<div class="faq-page">
							<div class="top-header-block mb10">
								<h3>Edit your Jobcode</h3>
							</div>
							<div class="common-panel">
								<div class="panel-header  clearfix">
									<h4>Edit your Title</h4>
								</div>
								<div class="panel-body">
									<form>
										<div class="enter-jobcode-input">
											<input type="text" placeholder="Enter Jobcode Title" class="form-control">
										</div>
									</form>
								</div>
							</div>
							<div class="common-panel">
								<div class="panel-header clearfix">
									<h4 class="fleft">Create your Jobcode Interview Questions</h4>
									<a href="javascript:;"  class="addyellow-img-right" id="createQuestion"><img src="images/add-yellow.png"></a>
								</div>
								<div class="panel-body">
									<div class="job-code-question-box" id="question-box1">
										<div class="row">
											<div class="col-sm-9">
												<div class="left-sec">
													<label class="custum-label">Question 1</label>
													<div class="textarea-box">
														<textarea class="common-textarea">Why do you want to work at our company?</textarea>
													</div>
													<div class="button-box right">
														<button type="button" class="btn btn-jobcode-common pinkbg" data-removeques="#question-box1">Delete Question</button>
													</div>
												</div>
											</div>
											<div class="col-sm-3">
												<div class="right-sec">
													<label class="custum-label22 center">Videoquestion</label>
													<div class="button-box">
														<button class="btn btn-jobcode-common bluebg"> <i class="fa fa-cloud"></i>Upload</button>
														<button class="btn btn-jobcode-common pinkbg disable"><i class="fa fa-times"></i>Delete</button>
														<button class="btn btn-jobcode-common skyblue disable"><i class="fa fa-play"></i>Play</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="appendQuestion"></div>
								</div>
							</div>
							<div class="job-code-bottom-box mb20 clearfix">
								<a href="job-management.html" class="btn btn-jobcode-common yellowbg fleft">Cancel</a>
								<a href="job-management.html" class="btn btn-jobcode-common bluebg fright">Save</a>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	
</template>
<!-- Scripts  -->
<script>
    
</script>
<!-- Styles -->
<style scoped>
  
</style>