<template>
	
	<!-- Modal Confirm-->
	<div class="modal fade confirm-modal" data-easein="slideRightBigIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog max-width-350" role="document">
			<div class="modal-content no-radius pTB15">
				<div class="modal-body text-center">
					<p>Do you really want to remove this user?</p>
					<button type="button" class="btn btn-darkgreen  no-radius width-60" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-darkred  no-radius width-60">No</button>
				</div>
			</div>
		</div>
	</div>
	<!-- video upload modal -->
	<div class="modal fade video-upload-modal" data-easein="slideUpBigIn" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" data-backdrop="staticsss">
		<div class="modal-dialog max-width-350" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="video-modal-box">
						<h3>Upload</h3>
						<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
						<span class="fa fa-cloud-upload"></span>
						<span class="upload-video-name">video.mp4 <i class="fa fa-remove remove-video"></i></span>
						<label class="drag-upload">
							<input type="file" name="file-video">
							<h4>Lorem ipsum</h4>
							<p>Drag and drop to uplaod consectetur elit</p>
						</label>
						<small>Maximam file size: <strong>20MB</strong></small>
						<small>File Formate: <strong>.mp4, .mov</strong></small>
						<button type="button" class="btn btn-upload mt10" id="closeVideoModal">Upload Video</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- video modal -->
	<div class="modal fade video-modal" data-easein="slideRightBigIn" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" data-backdrop="staticsss">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body pd0">
					<div class="modal-video-box">
						<video id="videoUrl" controls></video>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-wrapper">
		<div class="container-common">
			<div class="main-section clearfix">
				<aside id="sidebarShow">
					<div class="sidebar-conent">
						<div class="sidebar-profile-box">
							<a href="profile.html" class="img-box">
								<img src="images/profile.png"/>
							</a>
							<span class="profile-name">
								<h3>Florian Lang</h3>
								<a href="javascript:void(0);" class="btn btn-admin">Admin</a>
							</span>
						</div>
						<ul class="sidebar-list">
							<li><a href="javascript:void(0);"><i class="fa fa-file-text"></i>Job Management</a></li>
							<li><a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Products</a></li>
						</ul>
					</div>
				</aside>
				<div class="main-content-block">
					<div class="faq-page">
						<div class="top-header-block mb10">
							<h3>Create a Jobcode</h3>
						</div>
						<div class="common-panel">
							<div class="panel-header  clearfix">
								<h4>Fragen von Recruitern</h4>
							</div>
							<div class="panel-body">
								<form>
									<div class="enter-jobcode-input">
										<input type="text" placeholder="Enter Jobcode Title" class="form-control">
									</div>
								</form>
							</div>
						</div>
						<div class="common-panel">
							<div class="panel-header  clearfix">
								<h4 class="fleft">Create your Jobcode Interview Questions</h4>
								<a href="javascript:;"  class="addyellow-img-right" id="createQuestion"><img src="images/add-yellow.png"></a>
							</div>
							<div class="panel-body">
								<div class="job-code-question-box" id="question-box1">
									<div class="row">
										<div class="col-sm-9">
											<div class="left-sec">
												<label class="custum-label">Question 1</label>
												<div class="textarea-box">
													<textarea class="common-textarea" placeholder="Enter a question"></textarea>
												</div>
												<div class="button-box right">
													<button type="button" class="btn btn-jobcode-common pinkbg" data-removeques="#question-box1">Delete Question</button>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="right-sec">
												<label class="custum-label22 center">Videoquestion</label>
												<div class="button-box">
													<button type="button" class="btn btn-jobcode-common bluebg" data-toggle="modal" data-target=".video-upload-modal">Upload</button>
													<button class="btn btn-jobcode-common pinkbg disable">Delete</button>
													<button class="btn btn-jobcode-common skyblue disable" data-videourl="video/web_background.mp4">Play</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="appendQuestion"></div>
							</div>
						</div>
						<div class="job-code-bottom-box mb20 clearfix">
							<a href="job-code-create.html" class="btn btn-jobcode-common yellowbg fleft">Cancel</a>
							<a href="job-code-create-preview.html" class="btn btn-jobcode-common bluebg fright">Preview</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<script>

</script>
<style scoped>

</style>