<template>
<div class="row">
    <div class="col-lg-12 col-12 col-md-12">
        <video-bg class="row" :sources="['/src/assets/videos/web_background.mp4']" img="../src/assets/images/hero-background.png">
           <div class="mt-5">
                <div class="row mt-5">
                    <div class="col-lg-2 col-12 col-md-6 offset-lg-8 offset-md-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12 bottom-margin">
                                <h4 class="font-white heading-content">
                                    Problems&nbsp;loggin&nbsp;in?
                                </h4>
                                <h6 class="font-white heading-content">
                                    You can reset your password here if you've forgotten it. <br>
                                    To do so, please enter the e-mail address you used to register on Metru.
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-8 offset-2 pb-2 pb-md-0 offset-md-0 col-md-12 padding-control-max">
                                <input class="form-control rounded-0" v-model="forgotPasswordModel.email" placeholder='Email' type="Email" @input="$v.forgotPasswordModel.email.$touch()"
                                    v-bind:class="{required:$v.forgotPasswordModel.email.$required, error: $v.forgotPasswordModel.email.$error, valid: $v.forgotPasswordModel.email.$dirty && !$v.forgotPasswordModel.email.$invalid}">
                                <span v-if="!$v.forgotPasswordModel.email.email">Email must be in a valid format.</span>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-8 offset-2 pb-2 pb-md-0 offset-md-0 col-md-12 padding-control-max">
                            <button class="btn btn-secondary btn-red form-control" v-on:click='sendForgotPasswordMail' :disabled:="$v.forgotPasswordModel.email.$error">Reset</button>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-8 offset-2 pb-2 pb-md-0 offset-md-0 col-md-12 padding-control-max mt-3">
                            <h6 class="font-white heading-content">
                                You don`t have an account yet?
                            </h6>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-8 offset-2 pb-2 pb-md-0 col-md-12 offset-md-0 padding-control-max">
                                <h5 class="font-white heading-content">
                                    <router-link class="btn-text-white" :to="{ name: 'candidate' }">Sign Up!</router-link>
                                </h5>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6 offset-lg-2 d-md-none d-lg-block d-none">
                        <discover-static-text></discover-static-text>
                    </div>
                </div>
           </div>
        </video-bg>
    </div>
    <div class="col-lg-12 col-12 col-md-12">
        <information>
        </information>
    </div>
</div>
</template>
<script>
    import { required, email } from 'vuelidate/lib/validators'
    import loginService from '../../services/login.service'
    import { SHARED_USER_DATA_MIXIN } from '../../mixins/shared-user-data.mixin'
    export default {
        name: 'forgot-password',
        mixins: [SHARED_USER_DATA_MIXIN],
        methods: {
            sendForgotPasswordMail: function() {
                if(this.forgotPasswordModel.email !=null && this.forgotPasswordModel.email !=undefined && this.forgotPasswordModel.email !="") {
                loginService.postForgotPassword(this.forgotPasswordModel)
                    .then(resolve => {
                        localStorage.setItem('forgotEmail',this.forgotPasswordModel);
                        this.$router.push('confirm-reset-password')
                    })
                    .catch(e => {
                        alert(e);
                    })
                }
                else {
                    alert("email cant be empty")
                }
            },
            goToRegistrationForm: function() {
              this.isForgotPasswordClicked = false;
          }
        },
        validations: {
            forgotPasswordModel: {
                email: {
                    required,
                    email
                },
            },
        },
        components:{
           'discover-static-text' : () => import('../shared/discover-static-text/discover-static-text.component'),
           'information':() => import('../shared/information/information.component'),
           'video-bg': () => import('vue-videobg')
        },
    }
</script>
<style scoped>
    .form-group{
        padding:1%;
    }
    .heading-content{
        padding:0 !important;
        margin : 0;
    }
</style>
