.m-l-0{
    margin-left  : 0 !important;
  }
.width100{
  width:100% !important;
}
.m-1{
  margin: 1%;
}
.wrapper{
  margin: 0 25px 0 25px;
}
.font-white{
  color: #ffffff;
}
.text-left{
  text-align: left;
}

@media screen and (min-width: 768px)
{
  .hidden-md-up {
    display: none!important;
  }
  .padding-control-max{
    padding: 5px;
  }
  .top-margin-max{
    margin-top:50px;
  }
  .page-fill{
    height:  -webkit-fill-available;
  }
}

@media screen and (max-width:768px){
  .padding-control{
    padding: 8px;
  }
  .hidden-xs-down{
    display:none !important;
  }
  .VideoBg video{
    visibility: hidden !important;
  }
  .footer-content-left-margin {
    margin-left: 0px !important;
  }
  .appstore-link-btn{
    margin: -2px 0 0 13px !important;
  }
  .googleplay-link-btn{
    margin: 0 0 0 -12px !important;
  }
  .btn-secondary__toggle-user{
    margin-left: 0 !important;
  }
  .justify-content-between {
    justify-content: space-between!important;
  }
}

@media screen and (max-width:680px) {
  .appstore-link-btn{
    margin: -2px 0 0 -17px !important;
  }
  .googleplay-link-btn{
    margin: 0 0 0 -13px !important;
  }
  .btn-secondary__toggle-user {
    margin-top: 20px !important;
  }
  .card-body__less-padding {
    padding: .5rem!important;
  }
/*  .card__less-margin {
    margin: .5rem!important;
  }*/
  .p-5 {
    padding: .25rem!important;
  }

  .m-5 {
    margin: 0.5rem!important;
  }
  .text-right {
    text-align: left;
    padding-top: 10px;
  }
  .text-left--margin {
    margin-left: -15px;
  }
}

.bottom-margin{
  margin-bottom:15px;
}
.margin-space{
  margin-top:5px;
  margin-bottom:5px;
}
.min-height{
  min-height: 250px;
}
.bg-color-grediant-standard{
     background: linear-gradient(to right, #003366 5%, #00ffcc 141%);
}
.img-mail{
  width: 150px;
}
video#bgvid {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* background: url(../../../../assets/images/hero-background.png) no-repeat; */
  background-size: cover;
}

.information {
  background: linear-gradient(to bottom, #ffffff -12%, #cccccc 100%);
}

.VideoBg{
  width: auto;
}
.btn {
  border-radius: 0;
  cursor: pointer;
}
.btn-secondary{
  background-color: #e65100 !important;
  color : white !important;
  border-radius: 0;
  cursor: pointer;
}

.btn-secondary__toggle-user{
  background-color: #00838f !important;
  color : white !important;
  border-radius: 0;
  margin-top: -2px;
  margin-left: -90px;
  cursor: pointer;
}
.btn-primary{
  background-color: #00695c !important;
  color : black !important;
  border-radius: 0;
  cursor: pointer;
}
.btn-primary--jobcode {
  color: #ffffff!important;
}
.btn-red{
  background-color: red !important;
  color : white !important;
  border-radius: 0;
  cursor: pointer;
}
.btn-transparent{
  background-color: transparent !important;
  cursor: pointer;
}
.btn-text-white{
  background: #0000;
  border: none;
  color: #fff !important;
  text-decoration: none;
}

.custom-header {
  line-height: 0.8;
}

.form-control--align-left {
  text-align: left;
  border: none;
}

.router-link--custom {
  text-decoration: none !important;
}

.resetScreenBackground{
  background: linear-gradient(to right, #003366 5%, #00ffcc 141%);
}
.border-bottom-green{
  border-bottom: solid 1px;
  border-bottom-color: #0f9389;
}
.error {
border-color: red;
background: #FDD;
}

.error:focus {
outline-color: #F99;
}

.valid {
border-color: #5A5;
background: #EFE;
}

.valid:focus {
outline-color: #8E8;
}
.error-box{
    display: block;
    width: 192px;
    word-wrap: break-word;
}
button:disabled{
  background-color: lightgrey !important;
  color: darkgray !important;
}

.background-white{
  background-color: white;
}
table.table>thead {
  border-width: 0px;
  background-color: #35a49d;
  color: white;
  border-width: 0px;
}

table.table>tbody {
  border-width: 1px;
  background-color: #eff0f1;
  color: #000;
  border-width: 0px;
}
.registrationContent{
  color: white !important;
  font-family:'Avenir', Helvetica, Arial, sans-serif;
  font-weight:200;
}
.registrationContent>img{
  height: 10%;
  width: 10%;
}
.p-5 {
  padding: 1.5rem!important;
}

.m-5 {
  margin: 1.5rem!important;
}

.mt-lg-5, .my-lg-5 {
  margin-top: 1rem!important;
}
.container-fluid--no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
