/*Define global variables to use throughout the project*/
/*
:root {
  !*sample colors*!
  --primary-white: #ffffff;
  --primary-green: #32b193;
  --primary-blue: #046082;
  --primary-transparent: transparent;
  --primary-black: #000000;
}
*/
