<template>
	<div class="main-wrapper">
		<div class="container-common">
			<div class="main-section clearfix">
				<side-bar></side-bar>
				<!-- <aside id="sidebarShow">
				 	<div class="sidebar-conent">
				 	 	<div class="sidebar-profile-box">
				 	 	 	<a href="profile.html" class="img-box">
				 	 	 	 	<img src="images/profile.png"/>
				 	 	 	</a>
				 	 	 	<span class="profile-name">
				 	 	 	 	<h3>Florian Lang</h3>
				 	 	 	 	<a href="javascript:void(0);" class="btn btn-admin">Admin</a>
				 	 	 	</span>
				 	 	</div>
				 	 	<ul class="sidebar-list">
				 	 	 	<li><a href="javascript:void(0);"><i class="fa fa-file-text"></i>Job Management</a></li>
				 	 	 	<li><a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Products</a></li>
				 	 	</ul>
				 	</div>
				</aside> -->
		  	<div class="main-content-block">
		  	  <div class="jobmanage-page">
		  	  	<div class="top-header-block mb10">
		  	  	 	<h3>Job Management</h3>
		  	  	</div>
		  	  	
		  	  	<div class="common-panel">
		  	  		<div class="panel-header">
		  	  			<h4>Inactive Products</h4>
		  	  		</div>
		  	  		<div class="panel-body">
		  	  			<div class="job-table table-responsive">
			  	  			<table class="table table-striped tabel-bordered common-table">
			  	  	 			<thead>
			  	  	 				<tr>
			  	  	 					<th>Product Type</th>
			  	  	 					<th>Purchase Date</th>
			  	  	 					<th>Runtime</th>
			  	  	 					<th>Action</th>
			  	  	 				</tr>
			  	  	 			</thead>
			  	  	 			<tbody>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>10-11-2017</td>
			  	  	 					<td>30 Days</td>
			  	  	 					<td><a href="job-code-create.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a></td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>10-11-2017</td>
			  	  	 					<td>30 Days</td>
			  	  	 					<td><a href="job-code-create.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a></td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>10-11-2017</td>
			  	  	 					<td>30 Days</td>
			  	  	 					<td><a href="job-code-create.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a></td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>10-11-2017</td>
			  	  	 					<td>30 Days</td>
			  	  	 					<td><a href="job-code-create.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a></td>
			  	  	 				</tr>
			  	  	 			</tbody>
			  	  	 		</table>
			  	  		</div>
		  	  		</div>
		  	  	</div>

		  	  	<div class="common-panel">
		  	  		<div class="panel-header">
		  	  			<h4>Active Products</h4>
		  	  		</div>
		  	  		<div class="panel-body">
		  	  			<div class="job-table table-responsive">
			  	  	 		<table class="table table-striped tabel-bordered common-table">
			  	  	 			<thead>
			  	  	 				<tr>
			  	  	 					<th>Product Type</th>
			  	  	 					<th>Job Tittle</th>
			  	  	 					<th>Remaining Time</th>
			  	  	 					<th>Candidates</th>
			  	  	 					<th>Views</th>
			  	  	 					<th>Action</th>
			  	  	 				</tr>
			  	  	 			</thead>
			  	  	 			<tbody>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="job-code-edit.html" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
					  	 			</tbody>
					  	 		</table>
					  	 	</div>
		  	  		</div>
		  	  	</div>

						<div class="common-panel">
		  	  		<div class="panel-header">
		  	  			<h4>Expired  Products</h4>
		  	  		</div>
		  	  		<div class="panel-body">
		  	  			<div class="job-table table-responsive">
			  	  	 		<table class="table table-striped tabel-bordered common-table">
			  	  	 			<thead>
			  	  	 				<tr>
			  	  	 					<th>Product Type</th>
			  	  	 					<th>Job Tittle</th>
			  	  	 					<th>Remaining Time</th>
			  	  	 					<th>Candidates</th>
			  	  	 					<th>Views</th>
			  	  	 					<th>Action</th>
			  	  	 				</tr>
			  	  	 			</thead>
			  	  	 			<tbody>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="#" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="#" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="#" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
			  	  	 				<tr>
			  	  	 					<td>Job code</td>
			  	  	 					<td>Designer</td>
			  	  	 					<td>29 Days</td>
			  	  	 					<td>6</td>
			  	  	 					<td>40</td>
			  	  	 					<td> 
			  	  	 						<a href="#" class="btn btn-xs btn-action"><i class="fa fa-pencil"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action" v-on:click="candMang()"><i class="fa fa-users"></i></a>
				  	  	 					<a href="#" class="btn btn-xs btn-action"><i class="fa fa-download"></i></a>
			  	  	 					</td>
			  	  	 				</tr>
					  	 			</tbody>
					  	 		</table>
					  	 	</div>
		  	  		</div>
		  	  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    // import { required, email, sameAs, minLength, maxLength } from 'vuelidate/lib/validators'
    // import { SHARED_USER_DATA_MIXIN } from '../../mixins/shared-user-data.mixin'
    export default {
        name: 'jobManagement',
        // mixins: [SHARED_USER_DATA_MIXIN],
        components: {
	    	'side-bar': () => import('../shared/candidateSideBar/candidateSideBar.component.vue'),
	    },
        methods: {
            candMang() {
            	this.$router.push('/candidateManagement'); 
            }
        }
    }
</script>