.main-wrapper{display:block; width:100%; min-height:calc(100vh - 218px);margin-top: 30px;}
.container-common {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-section {
    position: relative;
    padding-left: 250px;
    transition: 500ms;
}
div {
    display: block;
}
aside{position:absolute;left:0;top:0; width:235px;background:#fff;  min-height:250px; transition:500ms;}
aside .sidebar-profile-box{padding:15px;}
.sidebar-profile-box .img-box{display:inline-block; width:90px; height:90px; margin-right:5px;}
.sidebar-profile-box .img-box img{width:100%;height:100%;}
.sidebar-profile-box span.profile-name{display:inline-block;vertical-align:middle; text-align:center;}
.sidebar-profile-box span.profile-name h3{margin:0px; font-size:16px; margin-bottom:5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.btn-admin{background:#fff;color:#32c8aa;border:1px solid #32c8aa;padding:2px 15px; font-size:12px; border-radius:2px;}
.btn-admin:hover{background:#32c8aa; color:#fff;}
a, input, button, a:focus, input:focus, button:focus {outline:none; box-shadow:none;}

.sidebar-profile-box .img-box {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 5px;
}
a, input, button, a:focus, input:focus, button:focus {
    outline: none;
    box-shadow: none;
}
.sidebar-list{margin:0; padding:0; list-style:none;}
.sidebar-list li {display:block; width:100%; height:auto; position:relative;}
.sidebar-list li a{display:block; width:100%; height:100%; padding:15px 10px; color:#000;}
.sidebar-list li a i{margin-right:10px;}
.sidebar-list li a:hover{background:#32c8aa; color: #fff; text-decoration:none;}
.setting-block .pannel-inner{background:#fff;padding:10px;margin: 0 0 10px;border-radius:4px;}
.setting-block .pannel-inner .top-heading{font-size:20px;}
.setting-block .pannel-inner  .top-desc{font-size:14px;font-weight:600;}
.setting-block .common-panel .panel-body{padding:10px 15px;}
.common-panel{display:block; width:100%; height:auto; background:#fff; margin-bottom:15px;}
.common-panel .panel-header{width:100%; padding:15px; background:#fff; border-bottom:2px solid #35a49d;}
.common-panel .panel-header h4{margin:0px; font-weight:500; color:#444;}
.common-panel .panel-body{padding:10px;}
.fw-100{font-weight:100;} .fw-200{font-weight:200;} .fw-300{font-weight:300;} .fw-400{font-weight:400;}
.fw-500{font-weight:500;} .fw-600{font-weight:600;} .fw-700{font-weight:700;}
.table-box{display:block; width:100%; min-height:400px; position:relative;}
 td .btn.table-btn{background:#248291;color:#fff;border-radius:0px;min-width:100px;padding:3px 12px;}
 table.table-setting tbody td{border:0px; width:33.33%; text-align:center; padding:12px 0px 6px 0px; font-size:14px;}
 table.table-setting tbody td:first-child{text-align:left; font-weight:600;}
.common-table.table{width:100%; background:#fff; margin:0;}
.common-table.table tr th{color: #fff;font-weight: normal; border-top:1px solid #efefef;}
.common-table.table tr th:last-child, .common-table.table tr td:last-child{text-align:center;}
.common-table.table thead{background-color: #35a49d;}
.common-table.table {border: 1px solid #ddd;}
.common-table.table thead tr th{border-bottom:none; font-size:14px; font-weight:500; padding:10px 8px;}
.common-table>tbody>tr>td{font-size:14px; color:#49505b; border-top:1px solid #efefef;}
.common-table.table .btn-action{background:transparent; color:#49505b;}
.common-table.table .btn-action:hover{color:#248291;}
.common-table.table tbody tr.active td{background: #93b5c1;}
.common-table.table-striped>tbody>tr:nth-of-type(odd){background-color: #f4f4f4;}


.candidate-desc-main-box{background:#eff0f1;}
.candidate-descreption-box{position:relative;padding:10px 10px 10px 320px;}
.candidate-profile-box{position:absolute;left:0;max-width:300px;height:auto;top: 0;}
.candidate-profile-box img{width:100%;height:100%;}
.candidate-name h4{margin-top:0px;}
.candidate-name p{font-size:13px;}
.candidate-detail-list li{position:relative;padding:10px 0px 10px 40px;}
.candidate-detail-list li i{position:absolute;left:0;font-size:18px;}
.candidate-detail-list li h4{margin:0px;font-size:16px;font-weight: 400;}
.candidate-review-main .common-panel{background: #eff0f1;}
.candidate-review-main .common-panel .panel-header{background: #eff0f1;}
.candidate-review-inner{padding-left:120px;position:relative;}
.candidate-review-profile{position:absolute;left:0;max-width:100px;height:auto;}
.candidate-review-profile img{width:100%;height:100%;}





