 <template>
  <!-- <div class="modal fade invite-modal" id="invite-modal"  data-easein="expandIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
        <div class="logo-sec">
            <a href="index.html">
                <img src="../../assets/images/logo.png" />
            </a>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../../assets/images/remove.png"></button>
      </div>
      <div class="modal-body">
        <div class="modal-custum-body">
            <div class="modal-inner-content">
                <h1 class="text-center fw-200">Invite Team Members to your Company Profile</h1>
                <form class="common-input-form"> 
                    <div class="form-row"> 
                    <div class="row">
                      <div class="col-sm-4">
                            <div class="form-group">
                            <label>E-Mail Adresse</label>
                            <input class="form-control" placeholder="abc@gmail.com"  type="email">
                          </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" placeholder="Vorname"  type="text">
                            </div>
                        </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="Nachname"  type="text">
                          </div>
                      </div>
                      </div>
                      <div class="right-icon">
                        <a href="#">&times;</a>
                      </div>
                  </div>
                    <div class="form-row"> 
                    <div class="row">
                      <div class="col-sm-4">
                            <div class="form-group">
                            <label>E-Mail Adresse</label>
                            <input class="form-control" placeholder="abc@gmail.com"  type="email">
                          </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" placeholder="Vorname"  type="text">
                            </div>
                        </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="Nachname"  type="text">
                          </div>
                      </div>
                      </div>
                    <div class="right-icon">
                        <a href="#">&times;</a>
                      </div>
                    </div>
                        <div class="form-row"> 
                      <div class="row">
                      <div class="col-sm-4">
                            <div class="form-group">
                            <label>E-Mail Adresse</label>
                            <input class="form-control" placeholder="abc@gmail.com"  type="email">
                          </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" placeholder="Vorname"  type="text">
                            </div>
                        </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="Nachname"  type="text">
                          </div>
                      </div>
                      </div>
                    <div class="right-icon">
                        <a href="#">&times;</a>
                      </div>
                    </div>
                    <div class="form-footer clearfix">
                    <a href="javascript:;" class="add-another"><i class="fa fa-plus"></i>Add Another</a>
                        <button type="button" class="btn btn-darkgreen pull-right">Send Invitation</button>
                </div>
                </form>
            </div>    
        </div>
      </div>
     </div>
   </div>
  </div> -->
<div class="main-wrapper">
    <div class="container-common">
        <div class="main-section clearfix">
          <side-bar></side-bar>
            <!-- <aside id="sidebarShow">
                <div class="sidebar-conent">
                    <div class="sidebar-profile-box">
                        <a href="profile.html" class="img-box">
                            <img src="../../assets/images/profile.png"/>
                        </a>
                        <span class="profile-name">
                            <h3>Florian Lang</h3>
                            <a href="javascript:void(0);" class="btn btn-admin">Admin</a>
                        </span>
                    </div>
                    <ul class="sidebar-list">
                        <li><a href="javascript:void(0);"><i class="fa fa-file-text"></i>Job Management</a></li>
                        <li><a href="javascript:void(0);" v-on:click='product()'><i class="fa fa-shopping-cart"></i>Products</a></li>
                    </ul>
                </div>
          </aside> -->
          <div class="main-content-block">
            <div class="setting-block">
                <div class="top-tab-block">
                <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#accountTab">Account</a></li>
                      </ul>
                </div>
                 <div class="tab-content">
                    <div id="accountTab" class="tab-pane fade in active">
                      <div class="common-panel">
                        <div class="panel-header clearfix">
                          <h4>Account</h4>
                        </div>
                        <div class="panel-body">
                            <h5 class="top-desc fw-600">Update your account details</h5>
                            <div class="table-box">
                                <div class="table-responsive">
                                    <table class="table table-setting">
                                        <tbody>
                                          <tr>
                                             <td>Name</td>
                                              <td>{{candInfo.firstName}} {{candInfo.lastName}}</td>
                                              <td><button type="button" class="btn table-btn" v-on:click='editName()'>Edit</button></td>
                                          </tr>
                                          <tr>
                                             <td>E-Mail</td>
                                              <td> {{candInfo.email}}</td>
                                              <td><button type="button" class="btn table-btn" v-on:click='editEmail()'>Edit</button></td>
                                          </tr>
                                          <tr>
                                              <td>Password</td>
                                              <td> .........</td>
                                              <td><button type="button" class="btn table-btn" v-on:click='editPassword()'>Edit</button></td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="editbox-acconutbox bggrey" id='editnameId' v-if="editname">
                                  <div class="editbox-heading clearfix">
                                     <h4>Name</h4>
                                     <a href="javascript:void(0);" class="close-editbox" v-on:click='saveName("cancel")'><i class="fa fa-times"></i></a>
                                  </div>
                                  <h5 class="top-desc fw-600">Change your personal details</h5>
                                    <form class="common-input-form">
                                    <div class="form-group clearfix">
                                     <div class="row">
                                         <div class="col-sm-3">
                                             <label>First Name</label>
                                         </div>
                                         <div class="col-sm-5">
                                             <input class="form-control"  type="text" v-model.trim="candInfo.firstName1" v-on:input="$v.candInfo.firstName.$touch"/>
                                         
                                         <span v-if="$v.candInfo.firstName.$dirty && $v.candInfo.firstName.$invalid">
                                           <span v-if=" $v.candInfo.firstName.$dirty && !$v.candInfo.firstName.required">*Please enter an firstname.</span>
                                           <span v-if=" $v.candInfo.firstName.$dirty && !$v.candInfo.firstName.isValid">*Please enter valid firstname.</span>
                                         </span>
                                         </div>
                                     </div>
                                    </div>
                                    <div class="form-group clearfix">
                                     <div class="row">
                                         <div class="col-sm-3">
                                             <label>Last Name</label>
                                         </div>
                                         <div class="col-sm-5">
                                             <input class="form-control" type="text" v-model.trim="candInfo.lastName" v-on:input="$v.candInfo.lastName.$touch"/>
                                             <span v-if="$v.candInfo.lastName.$dirty && $v.candInfo.lastName.$invalid">
                                           <span v-if=" $v.candInfo.lastName.$dirty && !$v.candInfo.lastName.required">*Please enter an lastname.</span>
                                           <span v-if=" $v.candInfo.lastName.$dirty && !$v.candInfo.lastName.isValid">*Please enter valid lastname.</span>
                                         </span>
                                         </div>
                                         <div class="col-sm-4">
                                            <div class="button-box text-right"> 
                                             <button class="btn btn-cancel"  v-on:click='saveName("cancel")'>Cancel</button>
                                              <button class="btn btn-save" :disabled="$v.validationGroup.$error" v-on:click='saveName("save")'>Save</button>
                                            </div>
                                         </div>
                                    </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="editbox-acconutbox bggrey" v-if="editemail">
                                  <div class="editbox-heading clearfix">
                                      <h4>E-Mail</h4>
                                      <a href="javascript:void(0);" class="close-editbox" v-on:click='saveEmail("cancel")'><i class="fa fa-times" ></i></a>
                                  </div>
                                  <h5>Your current e-mail adress for login and notifications is: <strong>{{candInfo.email}}</strong></h5>
                                  <form class="common-input-form">
                                      <div class="row">
                                        <div class="form-group clearfix">
                                          <div class="col-sm-3">
                                            <label>Neue E-Mail Adresse</label>
                                          </div>
                                          <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="Enter Mail" v-model.trim="candInfo.email" v-on:input="$v.candInfo.email.$touch">
                                            <span v-if="$v.candInfo.email.$dirty && $v.candInfo.email.$invalid">
                                           <span v-if=" $v.candInfo.email.$dirty && !$v.candInfo.email.required">*Please enter an email.</span>
                                           <span v-if=" $v.candInfo.email.$dirty && !$v.candInfo.email.isValid">*Please enter valid email.</span>
                                         </span>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="button-box rightalign"> 
                                              <button class="btn btn-cancel" v-on:click='saveEmail("cancel")'>Cancel</button>
                                              <button class="btn btn-save" v-on:click='saveEmail("save")'>Save</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </form>
                                </div>
                                <!-- Forgot password added -->
                               <div class="editbox-acconutbox bggrey" v-if="editpassword">
                                 <div class="editbox-heading clearfix">
                                 <h4>Password</h4>
                                 <a href="javascript:void(0);" class="close-editbox" v-on:click='savePassword("cancel")'><i class="fa fa-times" ></i></a>
                                 </div>
                                 <h5>We advice you to change your password twice a year</h5>
                                 <form class="common-input-form">
                                    <div class="form-group clearfix">
                                      <div class="col-sm-3">
                                        <label>Old Password</label>
                                      </div>
                                      <div class="col-sm-5">
                                        <input type="password" class="form-control" placeholder="Enter Old Password" v-model.trim="candInfo.previousPassword" v-on:input="$v.candInfo.previousPassword.$touch">
                                        <span v-if="$v.candInfo.previousPassword.$dirty && $v.candInfo.previousPassword.$invalid">
                                           <span v-if=" $v.candInfo.previousPassword.$dirty && !$v.candInfo.previousPassword.required">*Please enter an password.</span>
                                           <span v-if=" $v.candInfo.previousPassword.$dirty && !$v.candInfo.previousPassword.minLength">*Please enter an password.</span>
                                           <span v-if=" $v.candInfo.previousPassword.$dirty && !$v.candInfo.previousPassword.maxLength">*Please enter valid password.</span>
                                         </span>
                                      </div>
                                    </div>
                                     <div class="password-update-text">
                                     <h5>Did you forgot your password? <a href="#" class="link">Click here</a></h5>
                                    </div>
                                     <div class="form-group clearfix">
                                      <div class="col-sm-3">
                                        <label>New Password</label>
                                      </div>
                                      <div class="col-sm-5">
                                        <input type="password" class="form-control" placeholder="Enter New Password" v-model.trim="candInfo.newPassword" v-on:input="$v.candInfo.newPassword.$touch">
                                        <span v-if="$v.candInfo.newPassword.$dirty && $v.candInfo.newPassword.$invalid">
                                           <span v-if=" $v.candInfo.newPassword.$dirty && !$v.candInfo.newPassword.required">*Please enter an password.</span>
                                           <span v-if=" $v.candInfo.newPassword.$dirty && !$v.candInfo.newPassword.minLength">*Please enter valid password.</span>
                                           <span v-if=" $v.candInfo.newPassword.$dirty && !$v.candInfo.newPassword.maxLength">*Please enter valid password.</span>
                                         </span>
                                      </div>
                                    </div>
                                    <div class="form-group clearfix">
                                      <div class="col-sm-3">
                                        <label>Confirm Password</label>
                                      </div>
                                      <div class="col-sm-5">
                                        <input type="password" class="form-control" placeholder="Repeat New Password" v-model.trim="candInfo.repeatPassword" v-on:input="$v.candInfo.repeatPassword.$touch">
                                        <span v-if="$v.candInfo.repeatPassword.$dirty && $v.candInfo.repeatPassword.$invalid">
                                           <!-- <span v-if=" $v.candInfo.repeatPassword.$dirty && !$v.candInfo.repeatPassword.sameAs">*Please enter an password.</span> -->
                                           <span v-if=" $v.candInfo.repeatPassword.$dirty && !$v.candInfo.repeatPassword.isValid">*Please enter same password.</span>
                                         </span>
                                      </div>
                                      <div class="col-sm-4">
                                       <div class="button-box rightalign"> 
                                        <button class="btn btn-cancel" v-on:click='savePassword("cancel")'>Cancel</button>
                                         <button class="btn btn-save" v-on:click='savePassword("save")'>Save</button>
                                       </div>
                                      </div>
                                    </div>
                                 </form>
                               </div>
                               <!-- End forgot password -->
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

  
  

</template>

<script>

import axios from 'axios';
import { required, minLength, maxLength, email  } from 'vuelidate/lib/validators'
//import loginService from '../../../services/login.service'

export default{
    name:'loginPage',
    components: {
       'side-bar': () => import('../shared/candidateSideBar/candidateSideBar.component.vue'),
    },
    data(){
      
      return{
       editname:false, 
       editemail: false,
       editpassword: false,
       candInfo: {"firstName": "", "lastName": "", "email": ""}
      }
    },
    validations: {
      candInfo: {
        email: {
          required,
          isValid(value){
             var emailPattern = /^[A-Z0-9_]+([\.][A-Z0-9_]+)*@[A-Z0-9-]+(\.[a-zA-Z]{2,3})+$/i
             if(value.match(emailPattern))
             return true;
             else
              return false;
          }
        },
        firstName: {
          required,
          isValid(value){
             var firstNamePattern = /^[a-zA-Z\s]*$/
             if(value.match(firstNamePattern))
             return true;
             else
              return false;
          }
        },
         lastName: {
          required,
          isValid(value){
             var firstNamePattern = /^[a-zA-Z\s]*$/
             if(value.match(firstNamePattern))
             return true;
             else
              return false;
          }
        },
        previousPassword: {
          required,
          minLength: minLength(8),
          maxLength: maxLength(16)
        },
        newPassword: {
          required,
          minLength: minLength(8),
          maxLength: maxLength(16)
        },
        repeatPassword: {
          required,
          // minLength: minLength(8),
          // maxLength: maxLength(16)
          isValid(value){
            // console.log(this.candInfo.newPassword)
            if(this.candInfo.newPassword == value)
              return true
            else
              return false

          }
        },
      },
      validationGroup: ['candInfo.firstName', 'candInfo.lastName']
    },
    beforeMount: function () {
        this.getcandidateInfo();

        },
        methods: {
            load(){
                alert("sanjeev_hello")
            },
            editName(){
             let self = this;
             self.editname=true;
             
            },
            editEmail(){
             
             this.editemail= true;
            },
            editPassword(){
              this.editpassword = true;
            },
            saveName(val){
              if(val=='save'){
                 let candInfo={"firstName" : this.candInfo.firstName, "lastName":this.candInfo.lastName}
                 this.$store.dispatch("candidateSetting/editNameInfo",candInfo)
                 .then((response) =>{
                  console.log('candidate info====>>>'+ JSON.stringify(response))
                  this.editname=false; 
                });
              } else{
               this.editname=false;  
              }
            },
            saveEmail(val){
              if(val== "save"){
                let candInfo={"email" : this.candInfo.email}
                this.$store.dispatch("candidateSetting/editEmailInfo",candInfo)
                 .then((response) =>{
                  console.log('candidate info====>>>'+ JSON.stringify(response))
                  this.editemail=false; 
                });
              } else{
                 this.editemail= false; 
              }
            },
            savePassword(val){
              if(val=="save"){
                if(this.candInfo.newPassword.trim()==this.candInfo.repeatPassword.trim()){
                  let candInfo={"previousPassword" : this.candInfo.previousPassword, "newPassword":this.candInfo.newPassword}
                  this.$store.dispatch("candidateSetting/editPasswordInfo",candInfo)
                 .then((response) =>{
                  console.log('candidate info====>>>'+ JSON.stringify(response))
                  this.editpassword=false; 
                });
                }
              } else{
                this.editpassword = false;
              }
            },
            product(){
             this.$router.push('/CondidateShop'); 
             //location.reload();
            },
            getcandidateInfo: function() {
                //let loginModel={"Username":this.loginModel.email, "Password":this.loginModel.password}
                this.$store.dispatch("candidateSetting/candidateInfo")
                .then((response) =>{
                  console.log('candidate info====>>>'+ JSON.stringify(response))
                  this.candInfo = response[0]
                    // if(response.userType=='User'){
                    //     this.$router.push('admin-panel');
                    // }
                    // else if(response.userType=='Recruiter'){
                    //     this.$router.push('recruiter-dashboard');
                    // }
                    // else{
                    //     this.$router.push('candidate-dashboard');
                    // }
                });
            }
        //   validations: {
        //     candInfo: {
        //         email: {
        //             required,
        //         },
        //         password: {
        //             required,
        //             minLength: minLength(6),
        //             maxLength: maxLength(10),
        //         },
        //     },
        // }
        }
}

</script>

<!--
<script>
    //import { SHARED_USER_DATA_MIXIN } from '../../../mixins/shared-user-data.mixin'
    import { required, minLength, maxLength, email  } from 'vuelidate/lib/validators'
    import { mapGetters, mapActions } from 'vuex'
    export default{
        name: 'loginPage',
        //mixins: [SHARED_USER_DATA_MIXIN],
        methods:{
            getcandidateInfo: function() {
                //let loginModel={"Username":this.loginModel.email, "Password":this.loginModel.password}
                this.$store.dispatch("candidateSetting/candidateInfo")
                .then((response) =>{
                    if(response.userType=='User'){
                        this.$router.push('admin-panel');
                    }
                    else if(response.userType=='Recruiter'){
                        this.$router.push('recruiter-dashboard');
                    }
                    else{
                        this.$router.push('candidate-dashboard');
                    }
                });
            },
            changeRoute: function(pageOf){
                this.$store.dispatch("loginModule/changeLandingPage",pageOf)
            }
        },
        computed: {
            ...mapGetters('appModule',['isCandidate'])
        },
        validations: {
            loginModel: {
                email: {
                    required,
                    email
                },
                password: {
                    required,
                    minLength: minLength(6),
                    maxLength: maxLength(10),
                },
            },
        }
    }
</script>

-->
<style scoped>
    @import './candidate-setting.component.css';
</style>
