<template>
    <div class="row overflow-scroll">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-12">
            <div class="row">
                <DIV class="col-lg-12 col-xl-12 col-12 col-md-12 col-sm-12 text-center">
                    <label><h2>Add Jobcodes</h2></label>
                </div>
            </div>
            <div class="row mb-3" v-for="(job ,index) in jobcode">
                <div class="col-lg-5 col-xl-5 col-12 col-md-5 col-sm-12 text-left">
                    <label>Id</label>
                    <input type="text" placeholder="Enter Id" class="form-control" v-model="job.companyId"
                        @input="$v.jobcode.$each[index].companyId.$touch()"
                        v-bind:class="{required:$v.jobcode.$each[index].companyId.$required, error: $v.jobcode.$each[index].companyId.$error, valid: $v.jobcode.$each[index].companyId.$dirty && !$v.jobcode.$each[index].companyId.$invalid}"/>
                </div>
                <div class="col-lg-3 col-xl-3 col-12 col-md-3 col-sm-12 text-left">
                    <label>Amount</label>
                    <input type="text" placeholder="Enter Amount" class="form-control" v-model="job.amt"
                        @input="$v.jobcode.$each[index].amt.$touch()"
                        v-bind:class="{required:$v.jobcode.$each[index].amt.$required, error: $v.jobcode.$each[index].amt.$error, valid: $v.jobcode.$each[index].amt.$dirty && !$v.jobcode.$each[index].amt.$invalid}"/>
                        <span v-if="!$v.jobcode.$each[index].amt.minValue">
                            Minimum value for Amount should be greater then 0.
                        </span>
                </div>
                <div class="col-lg-3 col-xl-3 col-12 col-md-3 col-sm-12 text-left">
                    <label>Runtime</label>
                    <input type="text" placeholder="Enter Runtime" class="form-control" v-model="job.runTime"
                        @input="$v.jobcode.$each[index].runTime.$touch()"
                        v-bind:class="{required:$v.jobcode.$each[index].runTime.$required, error: $v.jobcode.$each[index].runTime.$error, valid: $v.jobcode.$each[index].runTime.$dirty && !$v.jobcode.$each[index].runTime.$invalid}"/>
                        <span v-if="!$v.jobcode.$each[index].runTime.minValue">
                            Minimum value for Amount should be greater then 0.
                        </span>
                </div>
                <div class="col-lg-1 col-xl-1 col-12 col-md-1 col-sm-12 text-center pt-4">
                    <button type="button" class="close" aria-label="Close" @click="removeSection(index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-xl-4 col-12 col-md-4 col-sm-6 text-left">
                    <button class="btn btn-transparent" @click="jobcode.push({companyId: null, amt: null, runTime: null})" >
                        <icon name="plus" scale="2" class="mr-3"></icon>  Add Another
                    </button>
                </div>
                <div class="col-lg-4 col-xl-4 col-12 col-md-4 col-sm-6 text-right">
                    <button class="btn btn-primary"
                        v-on:click="addJobCodes">
                        Add Jobcodes
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapActions } from 'vuex'
    import { SHARED_USER_DATA_MIXIN } from '../../../mixins/shared-user-data.mixin'
    import { required, minValue ,numeric } from 'vuelidate/lib/validators'
    export default{
        name:'add-job-code',
        mixins: [SHARED_USER_DATA_MIXIN],
        components:{
            'icon':() => import('vue-awesome/components/Icon'),
        },
        methods:{
            removeSection: function(section) {
                this.jobcode.splice(section, 1)
            },
            showModalclick : function(value){
                this.$store.dispatch('adminPanelModule/showModal',value).then(response =>{
                }).catch(e =>{
                })
            },
            addJobCodes: function(){
                let comapnyId= this.jobcode[0].companyId;
                let jobcodejson = [];
                this.jobcode.forEach(t=>{
                    if(t.amt != null && t.amt != undefined && t.runTime != null && t.runTime != undefined)
                    jobcodejson.push({amt:t.amt,runTime:t.runTime});

                })
                let json= {"companyId": comapnyId , jobcode : jobcodejson}
                this.$store.dispatch("adminPanelModule/createJobCode",json)
                .then(resolve => {
                    this.showModalclick(false);
                })
                .catch(e => {
                    alert(e);
                })
            }
        },
        validations: {
            jobcode: {
                required,
                $each: {
                    companyId: {
                        required,
                    },
                    amt: {
                        required,
                        minValue : minValue(0.1)
                    },
                    runTime: {
                        required,
                        minValue : minValue(1),
                        numeric
                    },
                }
            }
        },
    }
</script>
<style scoped>
    @import './add-job-code.component.css';
</style>